<div class="title-box text-center">
  <h1>My Courses</h1>
</div>

<% if @courses.present? %>
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial: 'courses/course', locals: { course: course } %>
      </div><!-- col-xs-12 col-sm-6 col-md-4 -->
    <% end %>
  </div>
<% else %>  
  
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-offset-1 col-md-6 col-md-offset-3">
      <h3 class="text-center">You are not teaching any courses right now.</h3>

      <h2 class="text-center">Getting started is easy. <br>Just click the button below.</h2>
      <%= link_to 'Create New Course', new_instructor_course_path, class: 'btn btn-danger btn-lg center-block' %>
    </div>
  </div>
<% end %>
