<% ratings.each do |rating| %>
  <div class="row">
    <div class="rating-box">
      <div class="col-xs-12 col-sm-4 text-center">
        <%= image_tag rating.user.photo, class: 'prof-pic-md img-circle' %>
        <br>
        <h6><%= rating.user.name %></h6>
        <%= Rating::STARS.key(rating.stars) %>
      </div>

      <div class="col-xs-12 col-sm-8">
        <p><%= rating.comment %></p>
      </div>
    </div>
  </div>
<% end %>