<div class="title-box text-center">
  <h1>All Courses</h1>
  <p>
    Find a skill you want to learn.
  </p>

  <%= form_tag courses_path, method: :get, class: 'form-inline' do %>
      <%= text_field_tag :query, params[:query], placeholder: 'Search for a course', class: 'form-control' %>
      <%= submit_tag "Search", name: nil, class: 'btn btn-danger' %>
  <% end %>
</div>

<div class="row">
  <% @courses.each do |course| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= render partial: 'course', locals: { course: course } %>
    </div><!-- col-xs-12 col-sm-6 col-md-4 -->
  <% end %>
</div>