.lesson-nav {
  margin: 0 auto;
  width: 400px;
  margin-top: 100px;
}

.lesson-sidebar {
  list-style-type: none;
  background: whitesmoke;
  padding: 15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #384452;
}